body {
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    margin: 0px;
    padding: 0px;
}

nav li {
    list-style: none;
}

nav a {
    display: block;
    float: left;
    height: 20px;
}

p {
    color: blueviolet;
}

#seite {
    width: 1200px;
    font: icon;
    height: 3000px;
}

#startbild img {
    width: 1500px;
}

#inhalt {
    float: right;
    padding: 40px 40px 100px 100px;
    font-size: 20px;
}

#lebenslauf {
    padding-top: 350px;
}

#bild img {
    float: left;
    width: 300px;
    height: 450px;
}

#linkbild img {
    width: 740px;
}

#titel p {
    color: crimson;
    font-size: 60px;
    font-weight: bold;
}

.titel2 {
    font-size: 50px;
}

.überschrift {
    font-size: 40px;
    color: cadetblue;
    text-decoration: underline;
}

.kontakt-text {
    font-size: small;
    text-align: right;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    height: 50px;
}

.navbar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.navbar a:hover {
    background-color: red;
    height: 22px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    margin-top: 50px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}